* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(iron_man_3_2013_movie-wallpaper-3840x2160.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    
}

.submit_btn {
    width: 70%;
    padding: 10px 30px;
    cursor: pointer;
    
    margin: 40px auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    outline: none;
    border: 0;
    border-radius: 30px;
}

.form_box {
    width : 80%;
    height: 750px;
    position: relative;
    background: #ffffff;
    padding : 5px;
    margin : 0 auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form_box h2 {
    color: #ffad06;
    width: max-content;
    padding: 50px;
}

.input_group {    
    top: 320px;
    position: absolute;
    transition: .5s;
    width: 300px;
    background: transparent;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input_field {
    outline: 0;
    width: 290px;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 25px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-radius: 25px;
    background: transparent;
    transition: 0.2s;
    -webkit-appearance: none;
}

.input_field:hover {
    width: 320px;
}

.output_group {    
    top: 0;
    position: absolute;
    transition: .5s;
    width: 300px;
    background: transparent;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output_field {
    outline: 0;
    width: 290px;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 25px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-radius: 25px;
    background: transparent;
    transition: 0.2s;
}

input[type=number] {
    -webkit-inner-spin-button;
    -webkit-outer-spin-button;
    -webkit-appearance: none;
}

#rec {
    -webkit-inner-spin-button;
    -webkit-outer-spin-button;
    -webkit-appearance: none;
    display: none;
}

.dropdown {
    padding: 10px;
    margin-bottom: 20px;
    width: 290px;
    outline: 0;
    border-radius: 25px;
    background: transparent;
    transition: 0.2s;
    color: #999;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999; 
}

.dropdown:hover {
    background-color: #999;
    color: black;
    
}
.option {
    color: black;
    background-color: #ffffff;
}

.option:hover {
    background-color: #ddd;
}

.dropdown:hover .option {
    display: block;
}

.menu_bar{
    background: rgb(0,100,0);
    text-align: right;
    z-index: 3;
}
.menu_bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
    text-align: center;
}
.menu_bar ul li{
    width: 120px;
    margin: 20px 5px;
    padding: 15px;
}
.menu_bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu_bar ul li:hover{
    background: #2bab0d;
}
.sub_menu{
    display: none;
    z-index: 3;

}
.menu_bar ul li:hover .sub_menu{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu_bar ul li:hover .sub_menu ul{
    display: block;
    margin: 10px;
}
.menu_bar ul li:hover .sub_menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu_bar ul li:hover .sub_menu ul li:last-child{
    border-bottom: none;
}
.menu_bar ul li:hover .sub_menu ul li :hover
{
    color: #b2ff00;
}